body h2 {
  font-size: 1.2rem;
  color: #073256;
  font-weight: 700;
}

body h3 {
  font-size: 1rem;
  color: #073256;
  font-weight: 700;
}

body .btn {
  border-radius: 30px;
  padding: 0.35rem 1.75rem;
}

body .button-blue {
  background-color: #073256;
  color: #FFF;
}

body .button-blue:hover {
  background-color: #041d33;
  color: #FFF;
}

body .button-light {
  background-color: #afc3d3;
  border: transparent;
  color: #FFF;
}

body .button-light:hover {
  border-color: #8eaac1;
  background-color: #96b0c5;
  color: #FFF;
}

.navbar {
  background-color: #fff;
}

.navbar-brand img {
  height: 40px;
}

.navbar-toggler {
  color: #073256;
  border: solid 1px #073256;
}

.navbar-nav li a {
  text-decoration: none;
  color: #3a567D;
  padding: 8px;
}

.navbar-nav li a:hover {
  color: #212529;
}

#idioma {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-top: solid 1px #073256;
  padding-top: 0.75rem;
  margin-top: 0.75rem;
}

#idioma li a {
  margin-right: 20px;
}

#idioma li .active {
  font-weight: bold;
}

main {
  padding-top: 70px;
}

#introduction img {
  max-height: 50vh;
}

.information p {
  color: #afc3d3;
  line-height: 1.45;
}

.information .btn {
  border-radius: 30px;
  color: #fff;
  border: 1px solid transparent;
}

.information .button-light {
  margin-right: 1rem;
}

.utilities {
  background-color: rgba(58, 86, 125, 0.1);
  padding: 40px 0;
}

.utilities img {
  max-height: 80px;
}

.utilities p {
  color: #212529;
}

.utilities .carousel {
  padding-bottom: 40px;
}

.utilities .carousel .carousel-control-prev {
  padding-left: 5px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.utilities .carousel .carousel-control-prev .carousel-control-prev-icon {
  background-image: url("../iconos/arrow-alt-circle-right-solid.svg ");
  width: 20px;
  height: 20px;
}

.utilities .carousel .carousel-control-next {
  padding-right: 5px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.utilities .carousel .carousel-control-next .carousel-control-next-icon {
  background-image: url("../iconos/chevron-circle-right-solid.svg");
  width: 20px;
  height: 20px;
}

.utilities .info-bottom .btn {
  color: #212529;
  background-color: #fff;
  border-color: transparent;
}

.utilities .info-bottom .btn:hover {
  background-color: #e2e6ea;
}

.utilities .utilities-column .information-cards {
  border-right: 1px solid rgba(58, 86, 125, 0.4);
}

#carousel_quotes {
  margin-bottom: 30px;
}

#carousel_quotes .carousel-inner blockquote {
  margin: 0;
  font-size: 14.5px;
  line-height: 1.3;
}

#carousel_quotes .carousel-inner small {
  font-size: 11.5px;
}

#carousel_quotes span {
  color: #00000036;
}

#carousel_quotes .final-quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#carousel_quotes .carousel-indicators {
  bottom: -20px;
}

#carousel_quotes .carousel-indicators button {
  background-image: url("../iconos/circle-solid.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 6px;
  background-color: transparent;
}

#contact h3 {
  font-size: 28px;
}

footer {
  background-color: #f8f9fa;
}

footer h3 {
  font-size: 20px;
}

footer ul li {
  list-style-type: none;
}

footer ul li a {
  text-decoration: none;
  color: #073256;
}

footer ul li a:hover {
  color: #223249;
  text-decoration: underline;
}

footer small {
  font-size: 11.5px;
}

@media (min-width: 768px) {
  #introduction h2 {
    font-size: 3rem;
  }
  .utilities h2 {
    font-size: 2rem;
  }
  .utilities .utilities-column h3 {
    font-size: 25px;
  }
}

@media (min-width: 992px) {
  #idioma {
    border-top: none;
    border-left: solid 1px #073256;
    padding-left: 0.75rem;
    margin-left: 0.75rem;
  }
}
/*# sourceMappingURL=base.css.map */